* {
	font-family: 'Taviraj', sans-serif;
}

body {
	padding-top: 5px;
	padding-bottom: 150px;
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 255, 255, 0.3), 
      rgba(255, 255, 255, 0.3)
    ),
    /* bottom, image */
    url(http://www.hd-wallpapers.com/download/seinfeld-toms-restaurant-2880_1920x1080_43-hd.jpg);
}

h1 {
	text-align: center;
}

.startingPic {
	height: 40%;
	width: 40%;
	display: block;
	margin: auto;
	border: 1px solid black;
	border-radius: 5px;
}

.startQuiz {
	display: block;
	margin: auto;
	margin-top: 20px;
}

.questionWrapper {
	display: none;
	background-color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	width: 550px;
	border-radius: 5px;
	border: 1px solid black;
}

.imageWrapper img {
	width: 400px;
	border: 1px solid black;
	border-radius: 5px;
}

p.correct {
	background-color: #005600;
	color: #FFFFFF;
	padding: 5px;
}

p.wrong {
	background-color: #A60000;
	color: #FFFFFF;
	padding: 5px;
}

button {
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
}

.endPic {
	border: 1px solid black;
	border-radius: 5px;
}


